In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('lightgbm.csv')
df2 = pd.read_csv('lr.csv')
df3 = pd.read_csv('ridge.csv')
df4 = pd.read_csv('submissionNB.csv')
df5 = pd.read_csv('svm.csv')

In [8]:
r1 = df1.target
r2 = df2.target
r3 = df3.target
r4 = df4.target
r5 = df5.target

In [18]:
rfinal = (0.55*r1+0.1*r2+0.1*r3+0.2*r4+0.05*r5)

In [12]:
df2.head()

  ID_code    target
0  test_0  0.121356
1  test_1  0.171238
2  test_2  0.176519
3  test_3  0.169239
4  test_4  0.026709

In [11]:
# rfinal

In [13]:
submission = pd.DataFrame(df1.ID_code)

In [15]:
submission['target'] = rfinal

In [19]:
submission.head()

  ID_code    target
0  test_0  0.114423
1  test_1  0.178670
2  test_2  0.131440
3  test_3  0.155125
4  test_4  0.034932

In [20]:
submission.to_csv('submissionfinal.csv', index = False)